<launch>
  <!--SITE husk_empty_world.launch-->

  <!--Give the name of the world to launch-->
  <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

  <!--For AWS robomaker, the gui parameter has to be false. pass gui true
    if using on PC-->
  <arg name="gui" default="false"/>

  <!--Sensors to enable on the husky robot-->
  <arg name="laser_enabled" default="$(optenv HUSKY_LASER_ENABLED false)"/>
  <arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)"/>
  <arg name="kinect_enabled" default="$(optenv HUSKY_KINECT_ENABLED true)"/>

  <!--Launch the world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
 </include>

 <!--Launch the husky robot-->
 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
   <arg name="laser_enabled" value="$(arg laser_enabled)"/>
   <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
 </include>

<!--Wheel Driver takes input PWMs and converts to simulation velocity-->
 <node name="wheel_driver" pkg="smile_mobile_sim" type="wheel_driver.py"/>

<!--cvt odom data converts the Husky's odometry data format to the smile robots
    odometry format-->
  <node name="cvt_odom_data" pkg="smile_mobile_sim" type="cvt_odom_data.py"/>
</launch>
