<?xml version="1.0"?>

<model>
  <name>Smile Map</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Leo Peralta</name>
    <email>leo.raul.peralta@gmail.com</email>
  </author>

  <description>
    A layout of roads to be used in testing vehicle operation automation.
  </description>
</model>
