<launch>
  <arg name="x" value="-27.7"/>
  <arg name="y" value="4.26"/>
  <arg name="yaw" value="0"/>

  <!--Launch the gazebo simulation of smile mobile robot-->
  <include file="$(find smile_mobile_gazebo)/launch/smile_mobile_world.launch">
    <arg name="gui" value="true"/>
    <arg name="x" value="-6.87"/>
    <arg name="y" value="0"/>
    <arg name="yaw" value="0"/>
  </include>

  <include file="$(find smile_mobile_control)/launch/smile_control.launch"/>

  <!--Robot configuration file (must be loaded to run the following)-->
  <rosparam file="$(find smile_mobile_robot)/config/smile_sim_robot.yaml" command="load"/>

  <!--Launch the Odometry estimator and movement controller-->
  <group ns="smile">
    <node name="raw_odometry" pkg="smile_mobile_robot" type="raw_odometry.py"/>

    <node name="movement_controller" pkg="smile_mobile_robot" type="movement_controller.py"/>
  </group>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="robot_namespace" value="husky_beta"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>
<node name="cadrl_avodiance" pkg="smile_mobile_dynamic" type="cadrl_custom.py"/>

</launch>
